@font-face { font-family: Basic;src: url(../fonts/JosefinSans-VariableFont_wght.ttf); }
@font-face { font-family: Basic Bold;src: url(../fonts/JosefinSans-VariableFont_wght.ttf); }
@font-face { font-family: Title; src: url(../fonts/Lora-Bold.ttf); }