@font-face { font-family: Basic;src: url(../fonts/AndikaNewBasic-Regular.ttf); }
@font-face { font-family: Basic Bold;src: url(../fonts/AndikaNewBasic-Bold.ttf); }
@font-face { font-family: Title; src: url(../fonts/Audiowide-Regular.ttf); }