@font-face { font-family: Basic;src: url(../fonts/YuseiMagic-Regular.ttf); }
@font-face { font-family: Basic Bold;src: url(../fonts/YuseiMagic-Regular.ttf); }
@font-face { font-family: Title; src: url(../fonts/YuseiMagic-Regular.ttf); }