@font-face { font-family: Basic;src: url(../fonts/Fraunces.ttf); }
@font-face { font-family: Basic Bold;src: url(../fonts/Fraunces.ttf); }
@font-face { font-family: Title; src: url(../fonts/PermanentMarker-Regular.ttf); }