html{
	background: url('../images/background.jpg'), 
	linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,54,82,1) 60%);
	background-size:cover;
}
button{
	border:#666666 4px solid;
	background-color:#222222;
	color:white;
}
button:hover{
	border:#212121 4px solid!important;
	background-color:#000000!important;
	color:white;
}

.start-body{
	margin:auto;
	width:100%;
	color:white;
	overflow:hidden;
}
.quiz-body{
	color:white;
	background:#afafafe3;
	background: linear-gradient(0deg, rgba(0,18,45,0) 6%, rgba(255,255,255,.5) 75%);
}