@font-face { font-family: Andika New Basic;src: url(fonts/AndikaNewBasic-Regular.ttf); }
@font-face { font-family: Andika New Basic Bold;src: url(fonts/AndikaNewBasic-Bold.ttf); }
@font-face { font-family: Audiowide; src: url(fonts/Audiowide-Regular.tff); }