@font-face { font-family: Basic;src: url(../fonts/Rubik-Regular.ttf); }
@font-face { font-family: Basic Bold;src: url(../fonts/Rubik-Regular.ttf); }
@font-face { font-family: Title; src: url(../fonts/BalsamiqSans-Bold.ttf); }