button{
	border:grey 4px solid;
	background-color:#121212;
	color:white;
}
button:hover{
	border:black 4px solid!important;
	background-color:black!important;
	color:white;
}

.start-body{
	margin:auto;
	width:100%;
	overflow:hidden;
	background:#a9a9a9;
	color:white;
}
.quiz-body{
	background:#efefefe3;
}