button{
	border:#ffffff00 4px solid;
	background-color:#AD0000;
	color:white;
}
button:hover{
	border:black 4px solid!important;
	background-color:#E20000!important;
	color:white;
}

.start-body{
	margin:auto;
	width:100%;
	overflow:hidden;
	background:#ffffffe3;
}
.quiz-body{
	background:#ffffffe3;
}