@font-face { font-family: Basic;src: url(../fonts/Roboto-Medium.ttf); }
@font-face { font-family: Basic Bold;src: url(../fonts/Roboto-Bold.ttf); }
@font-face { font-family: Title; src: url(../fonts/Brandish.tff); }